[staticMenu mainMenu]
code = "main-menu"
==
{% import _self as nav %}

{% macro render_menu(items) %}
    {% import _self as nav %}

    {% for item in items %}
        {% if item.items %}
            <li role="presentation" class="dropdown {{ item.isActive ? 'active' }} {{ item.isChildActive ? 'child-active' }}">
                <a href="{{ item.url }}" class="dropdown-toggle" data-toggle="dropdown">
                    {{ item.code ? ('nav.'~item.code)|_ : item.title }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {{ nav.render_menu(item.items) }}
                </ul>
            </li>
        {% else %}
            <li role="presentation" class="{{ item.isActive ? 'active' }} {{ item.isChildActive ? 'child-active' }}">
                <a href="{{ item.url }}">{{ item.code ? ('nav.'~item.code)|_ : item.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

<style>
    nav#layout-nav .navbar-nav > li > a {
        text-transform: uppercase;
        font-weight: 700;
        color: #3B72A6;
    }

    .rb {border: 1px solid red}
    .mt-2 { margin-top: 2rem}

     .post-list {
         list-style: none;
         padding-left: 0;
     }

    .f-center {
        display: flex;
        justify-content: center;
    }

    }
    ul.socialIcons {
        padding: 0;
        text-align: center;
    }
    .socialIcons li {
        background: yellow;
        list-style: none;
        display: inline-block;
        margin: 15px;
        border-radius: 2em;
        overflow:hidden;
    }
    .socialIcons li a {
        display: block;
        padding: .5em;
        max-width: 2.3em;
        min-width: 2.3em;
        height: 2.3em;
        white-space: nowrap;
        line-height: 1.5em;
        transition:.5s;
        text-decoration: none;
        font-family: arial;
        color: #fff;
    }
    .socialIcons li i {
        margin-right:.5em;
    }
    .socialIcons li:hover a {
        max-width:200px;
        padding-right:1em;
    }
    .socialIcons .facebook {
        background: #3b5998;
        box-shadow: 0 0 16px #3b5998;
    }
    .socialIcons .twitter {
        background: #00aced;
        box-shadow: 0 0 16px #00aced;
    }
    .socialIcons .instagram {
        background: #cd486b;
        box-shadow: 0 0 16px #cd486b;
    }
    .socialIcons .skype {
        background: #00aff0;
        box-shadow: 0 0 16px #00aff0;
    }
    .socialIcons .viber {
        background: #8f5db7;
        box-shadow: 0 0 16px #8f5db7;
    }
</style>

<nav id="layout-nav" class="navbar" role="navigation">
    <div class="container">
        <div class="navbar-main">
            <div class="col-md-12 row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <a href="{{ 'home'|page }}">
                            <img src="/themes/rainlab-bonjour/assets/images/logo.png" width="550" height="121">
                        </a>
                    </div>

                    <div class="col-md-6  text-right">
                        <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 " style="font-size: 16px">
                            <div class="card-body">
                                <p class="contact-small-text">м. Черкаси, бул. Шевченка 208, оф. 501</p>
                                <p class="contact-small-text">
                                    Телефон: <a href="tel:+380976462517">+38 097 646 25 17 (Viber)</a><br>
                                    <a href="tel:>+380675553317">+38 067 555 33 17 (Viber)</a>
                                </p>
                                <p class="contact-small-text">
                                    E-mail: <a href="mailto:welstour@gmail.com">welstour@gmail.com</a>
                                </p>
                            </div>
                            <ul class="socialIcons" style="padding: 0px">
                                <li class="facebook"><a href="#"><i class="fa fa-fw fa-facebook"></i>Facebook</a></li>
                                <li class="instagram"><a href="#"><i class="fa fa-fw fa-instagram"></i>Instagram</a></li>
                                <li class="skype"><a href="#"><i class="fa fa-fw fa-skype"></i>Skype</a></li>
                                <li class="viber"><a href="#"><i class="fa fa-fw fa-phone "></i>Viber</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-2">
                        {% if mainMenu.menuItems %}
                        <ul class="nav navbar-nav">
                            {{ nav.render_menu(mainMenu.menuItems) }}
                        </ul>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>

{% put help %}
    <!-- Locale Help -->
    <div id="localeHelp" class="help-popup">
        <button class="setup-close" type="button" onclick="toggleHelp('#localeHelp')">&times;</button>
        <div class="setup-content">
            {% content 'locale-help.htm' %}
        </div>
    </div>
{% endput %}